<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czm.mapper.CityMobileMapper">
  <resultMap id="BaseResultMap" type="com.czm.entity.CityMobile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="mobile_code" jdbcType="VARCHAR" property="mobileCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    mobile_code, city_code, city_name
  </sql>
</mapper>